<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>签证加急-中岚签证</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../css/hurry.css">
</head>
<body>
<header>
    <div class="container">
        <div class="header_nav row position-relative">
            <div class="logo col-auto">
                <img src="../img/logo.png">
            </div>
            <div class="_nav position-absolute" style="right:0;">
                <div class="pc_nav d-none d-md-flex">
                    <a href="../index.html">首页</a>
                    <a href="">签证指南</a>
                    <a href="" style="color:#0ba1e4">签证加急<em></em></a>
                    <a href="service.html">签证服务</a>
                    <a href="">签证资讯</a>
                    <a href="../views/profiles.html" class="d-none d-lg-inline">资料下载</a>
                </div>
                <div class="m_nav d-block d-md-none">
                    <a href=""><i class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="logo">
        <img src="../img/banner2.jpg">
    </div>
    <div class="sell_point">
        <div class="point1 ">
            <div class="container">
                <div class="row">
                    <div class="text col-8">
                        <h3>2-3天进馆面签</h3>
                        <span></span>
                        <p>无论官方排期是一个月还是两个月, 找我们加急, 最快第二天 ,第三天即可进馆面谈.</p>
                    </div>
                    <div class="img col-4">
                        <img src="../img/sellpoint1.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="point2">
            <div class="container">
                <div class="point2 row flex-row-reverse">
                    <div class="text col-8 text-right">
                        <h3>2-3天进馆面签</h3>
                        <span></span>
                        <p>无论官方排期是一个月还是两个月, 找我们加急, 最快第二天 ,第三天即可进馆面谈.</p>
                    </div>
                    <div class="img col-4">
                        <img src="../img/sellpoint2.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="point3 ">
            <div class="container">
                <div class="row">
                    <div class="text col-8">
                        <h3>2-3天进馆面签</h3>
                        <span></span>
                        <p>无论官方排期是一个月还是两个月, 找我们加急, 最快第二天 ,第三天即可进馆面谈.</p>
                    </div>
                    <div class="img col-4">
                        <img src="../img/sellpoint3.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="point4">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="text col-8 text-right">
                        <h3>2-3天进馆面签</h3>
                        <span></span>
                        <p>无论官方排期是一个月还是两个月, 找我们加急, 最快第二天 ,第三天即可进馆面谈.</p>
                    </div>
                    <div class="img col-4">
                        <img src="../img/sellpoint4.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="point5">
            <div class="container">
                <div class="row">
                    <div class="text col-8">
                        <h3>2-3天进馆面签</h3>
                        <span></span>
                        <p>无论官方排期是一个月还是两个月, 找我们加急, 最快第二天 ,第三天即可进馆面谈.</p>
                    </div>
                    <div class="img col-4">
                        <img src="../img/sellpoint5.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="point6">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="text col-8 text-right">
                        <h3>2-3天进馆面签</h3>
                        <span></span>
                        <p>无论官方排期是一个月还是两个月, 找我们加急, 最快第二天 ,第三天即可进馆面谈.</p>
                    </div>
                    <div class="img col-4">
                        <img src="../img/sellpoint6.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="process">
        <div class="head">
            <h3>签证流程: 填写DS160表>>>缴纳签证费>>>预约面谈时间>>>进馆面谈>>>取护照</h3>
        </div>
        <div class="detail">
            <div class="container">
                <div class="row">
                    <div class="text col-12">
                        <h2>加急流程</h2>
                        <span></span>
                        <p>还未填表缴费的申请人请直接咨询客服</p>
                        <ol class="list">
                            <li>提供护照首页扫描件和DS160确认页</li>
                            <li>提供护照首页扫描件和DS160确认页</li>
                            <li>提供护照首页扫描件和DS160确认页</li>
                            <li>提供护照首页扫描件和DS160确认页</li>
                            <li>提供护照首页扫描件和DS160确认页</li>
                        </ol>
                        <a href="" class="online">在线咨询</a>
                        <a href="" class="qq">QQ咨询</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="customer">
        <div class="container">
            <div class="row">
                <div class="slogan col-12">
                    <h2>客户的鼓励</h2>
                    <span></span>
                    <p>帮助您解决实际问题，顺利、及时地获得签证，是我们存在的根本价值。</p>
                </div>
            </div>
            <ul class="row">
                <li class="col-12 col-md-4">
                    <div class="detail">
                        <div class="comment">
                            <img src="../img/pingjia1.jpg">
                            <p>护照丢了，定了春节行程。11号补好护照约了13号面签，这速度简直惊人，所有的旅行社都说弄不了，来不及了，肯定没戏。多亏了你们，非常感谢！</p>
                            <span>B1商务签证</span>
                            <em><i class="fa fa-map-marker"></i>北京领事馆</em>
                        </div>
                        <div class="quote"></div>
                    </div>
                </li>
                <li class="col-12 col-md-4">
                    <div class="detail">
                        <div class="comment">
                            <img src="../img/pingjia1.jpg">
                            <p>护照丢了，定了春节行程。11号补好护照约了13号面签，这速度简直惊人，所有的旅行社都说弄不了，来不及了，肯定没戏。多亏了你们，非常感谢！</p>
                            <span>B1商务签证</span>
                            <em><i class="fa fa-map-marker"></i>北京领事馆</em>
                        </div>
                        <div class="quote"></div>
                    </div>
                </li>
                <li class="col-12 col-md-4">
                    <div class="detail">
                        <div class="comment">
                            <img src="../img/pingjia1.jpg">
                            <p>护照丢了，定了春节行程。11号补好护照约了13号面签，这速度简直惊人，所有的旅行社都说弄不了，来不及了，肯定没戏。多亏了你们，非常感谢！</p>
                            <span>B1商务签证</span>
                            <em><i class="fa fa-map-marker"></i>北京领事馆</em>
                        </div>
                        <div class="quote"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="client">
        <div class="container">
            <div class="row">
                <div class="slogan col-12">
                    <h2>我们的客户</h2>
                    <span></span>
                    <p>他们与中岚建立了合作关系</p>
                </div>
            </div>
            <ul class="list row">
                <li class="logo col-4 col-md-3 col-lg-2">
                    <img src="../img/client1.png">
                </li>
                <li class="logo col-4 col-md-3 col-lg-2">
                    <img src="../img/client1.png">
                </li>
                <li class="logo col-4 col-md-3 col-lg-2">
                    <img src="../img/client1.png">
                </li>
                <li class="logo col-4 col-md-3 col-lg-2">
                    <img src="../img/client1.png">
                </li>
                <li class="logo col-4 col-md-3 col-lg-2">
                    <img src="../img/client1.png">
                </li>
                <li class="logo col-4 col-md-3 col-lg-2">
                    <img src="../img/client1.png">
                </li>
                <li class="logo col-4 col-md-3 col-lg-2">
                    <img src="../img/client1.png">
                </li>
                <li class="logo col-4 col-md-3 col-lg-2">
                    <img src="../img/client1.png">
                </li>
                <li class="logo col-4 col-md-3 col-lg-2">
                    <img src="../img/client1.png">
                </li>
                <li class="logo col-4 col-md-3 col-lg-2">
                    <img src="../img/client1.png">
                </li>
                <li class="logo col-4 col-md-3 col-lg-2">
                    <img src="../img/client1.png">
                </li>
                <li class="logo col-4 col-md-3 col-lg-2">
                    <img src="../img/client1.png">
                </li>
            </ul>
        </div>
    </div>
</main>
<footer>
    <div class="question">
        <div class="container">
            <div class="text text-center">
                <h3>更多疑问 全面解答</h3>
                <p>资深美签专家在线为您解答所有疑惑</p>
                <a href="">免费咨询</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="tool col-6 col-md-2">
                    <h6>常用工具</h6>
                    <a href="">电码查询</a><br>
                    <a href="">护照追踪</a><br>
                    <a href="">资料下载</a><br>
                </div>
                <div class="link col-6 col-md-2">
                    <h6>常用工具</h6>
                    <a href="">电码查询</a><br>
                    <a href="">护照追踪</a><br>
                    <a href="">资料下载</a><br>
                </div>
                <div class="about col-6 col-md-2">
                    <h6>常用工具</h6>
                    <a href="">电码查询</a><br>
                    <a href="">护照追踪</a><br>
                    <a href="">资料下载</a><br>
                </div>
                <div class="wechat col-6 col-md-2">
                    <img src="../img/wechat.png">
                    <span>微信号:18401238365</span>
                </div>
                <div class="contact col-6 col-md-4">
                    <p>
                        <img src="../img/pc-footer-phone.png">
                        010-64648731
                    </p>
                    <p>
                        <img src="../img/pc-footer-qq.png">
                        274027502
                    </p>
                    <p>
                        <img src="../img/pc-footer-mob.png">
                        18401238365
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>
            Copyright © 2006-2017 clantrip.com All Rights Reversed.中岚签证
            <a href="">京ICP备16015317号</a>
        </p>
        <a href="">
            <img src="../img/ghs.png">
            京公网安备 11010102002687号
        </a>
    </div>
</footer>

</body>
</html>