<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资料下载-中岚签证</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../css/profiles.css">
</head>
<body>
<header>
    <div class="container">
        <div class="header_nav row justify-content-between">
            <div class="logo">
                <img src="../img/logo.png">
            </div>
            <div class="_nav">
                <div class="pc_nav d-none d-md-flex">
                    <a href="../index.html">首页</a>
                    <a href="">签证指南</a>
                    <a href="hurry.html">签证加急</a>
                    <a href="service.html">签证服务</a>
                    <a href="">签证资讯</a>
                    <a href="" style="color:#0ba1e4">资料下载<em></em></a>
                </div>
                <div class="m_nav d-flex d-md-none">
                    <a href=""><i class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="title">
            <a href="">首页</a>
            <span>/</span>
            <a href="">资料下载</a>
        </div>
        <div class="row">
            <div class="left col-12 col-md-9">
                <div class="profile d-flex">
                    <img src="../img/doc.svg" class="img-thumbnail media">
                    <div class="detail media-body position-relative">
                        <h3><a href="">美国签证信息采集表</a></h3>
                        <h6>用于采集申请人基本信息, 用于填写DS160主申请表 请务必详细准确填写</h6>
                        <p>文件大小:<span> 234 KB</span>上传时间: <span>2017-05-01</span>上传作者:<span> 中岚签证</span></p>
                        <a href="">免费下载</a>
                    </div>
                </div>
                <div class="profile d-flex">
                    <img src="../img/doc.svg" class="img-thumbnail media">
                    <div class="detail media-body position-relative">
                        <h3><a href="">美国签证信息采集表</a></h3>
                        <h6>用于采集申请人基本信息, 用于填写DS160主申请表 请务必详细准确填写</h6>
                        <p>文件大小:<span> 234 KB</span>上传时间: <span>2017-05-01</span>上传作者:<span> 中岚签证</span></p>
                        <a href="">免费下载</a>
                    </div>
                </div>
                <div class="profile d-flex">
                    <img src="../img/doc.svg" class="img-thumbnail media">
                    <div class="detail media-body position-relative">
                        <h3><a href="">美国签证信息采集表</a></h3>
                        <h6>用于采集申请人基本信息, 用于填写DS160主申请表 请务必详细准确填写</h6>
                        <p>文件大小:<span> 234 KB</span>上传时间: <span>2017-05-01</span>上传作者:<span> 中岚签证</span></p>
                        <a href="">免费下载</a>
                    </div>
                </div>
                <div class="profile d-flex">
                    <img src="../img/doc.svg" class="img-thumbnail media">
                    <div class="detail media-body position-relative">
                        <h3><a href="">美国签证信息采集表</a></h3>
                        <h6>用于采集申请人基本信息, 用于填写DS160主申请表 请务必详细准确填写</h6>
                        <p>文件大小:<span> 234 KB</span>上传时间: <span>2017-05-01</span>上传作者:<span> 中岚签证</span></p>
                        <a href="">免费下载</a>
                    </div>
                </div>
                <div class="profile d-flex">
                    <img src="../img/doc.svg" class="img-thumbnail media">
                    <div class="detail media-body position-relative">
                        <h3><a href="">美国签证信息采集表</a></h3>
                        <h6>用于采集申请人基本信息, 用于填写DS160主申请表 请务必详细准确填写</h6>
                        <p>文件大小:<span> 234 KB</span>上传时间: <span>2017-05-01</span>上传作者:<span> 中岚签证</span></p>
                        <a href="">免费下载</a>
                    </div>
                </div>
                <div class="profile d-flex">
                    <img src="../img/doc.svg" class="img-thumbnail media">
                    <div class="detail media-body position-relative">
                        <h3><a href="">美国签证信息采集表</a></h3>
                        <h6>用于采集申请人基本信息, 用于填写DS160主申请表 请务必详细准确填写</h6>
                        <p>文件大小:<span> 234 KB</span>上传时间: <span>2017-05-01</span>上传作者:<span> 中岚签证</span></p>
                        <a href="">免费下载</a>
                    </div>
                </div>
                <div class="profile d-flex">
                    <img src="../img/doc.svg" class="img-thumbnail media">
                    <div class="detail media-body position-relative">
                        <h3><a href="">美国签证信息采集表</a></h3>
                        <h6>用于采集申请人基本信息, 用于填写DS160主申请表 请务必详细准确填写</h6>
                        <p>文件大小:<span> 234 KB</span>上传时间: <span>2017-05-01</span>上传作者:<span> 中岚签证</span></p>
                        <a href="">免费下载</a>
                    </div>
                </div>
                <div class="profile d-flex">
                    <img src="../img/doc.svg" class="img-thumbnail media">
                    <div class="detail media-body position-relative">
                        <h3><a href="">美国签证信息采集表</a></h3>
                        <h6>用于采集申请人基本信息, 用于填写DS160主申请表 请务必详细准确填写</h6>
                        <p>文件大小:<span> 234 KB</span>上传时间: <span>2017-05-01</span>上传作者:<span> 中岚签证</span></p>
                        <a href="">免费下载</a>
                    </div>
                </div>
                <div class="profile d-flex">
                    <img src="../img/doc.svg" class="img-thumbnail media">
                    <div class="detail media-body position-relative">
                        <h3><a href="">美国签证信息采集表</a></h3>
                        <h6>用于采集申请人基本信息, 用于填写DS160主申请表 请务必详细准确填写</h6>
                        <p>文件大小:<span> 234 KB</span>上传时间: <span>2017-05-01</span>上传作者:<span> 中岚签证</span></p>
                        <a href="">免费下载</a>
                    </div>
                </div>
                <div class="profile d-flex">
                    <img src="../img/doc.svg" class="img-thumbnail media">
                    <div class="detail media-body position-relative">
                        <h3><a href="">美国签证信息采集表</a></h3>
                        <h6>用于采集申请人基本信息, 用于填写DS160主申请表 请务必详细准确填写</h6>
                        <p>文件大小:<span> 234 KB</span>上传时间: <span>2017-05-01</span>上传作者:<span> 中岚签证</span></p>
                        <a href="">免费下载</a>
                    </div>
                </div>
                <div class="turn_page d-flex justify-content-center">
                    <div class="links col-auto">
                        <a href="">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                        <a href="" class="page_1">1</a>
                        <a href="">2</a>
                        <a href="">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right col-3 d-none d-md-block">
                <div class="service">
                    <h3>客户服务</h3>
                    <a href="">
                        <i class="fa fa-phone"></i>
                        010-64648731
                    </a>
                    <a href="">
                        <i class="fa fa-qq"></i>
                        点击QQ咨询
                    </a>
                    <a href="">
                        <i class="fa fa-headphones"></i>
                        点击在线咨询
                    </a>
                </div>
                <div class="tips">
                    <h3>签证知识</h3>
                    <a href="">签证类型</a>
                    <a href="">签证类型</a>
                    <a href="">签证类型</a>
                    <a href="">签证类型</a>
                    <a href="">签证类型</a>
                    <a href="">签证类型</a>
                    <a href="">签证类型</a>
                    <a href="">签证类型</a>
                    <a href="">签证类型</a>
                    <a href="">签证类型</a>
                </div>
                <div class="tool">
                    <h3>常用工具</h3>
                    <a href="">中文电码查询</a>
                    <a href="">中文电码查询</a>
                    <a href="">中文电码查询</a>
                    <a href="">中文电码查询</a>
                    <a href="">中文电码查询</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="question">
        <div class="container">
            <div class="text text-center">
                <h3>更多疑问 全面解答</h3>
                <p>资深美签专家在线为您解答所有疑惑</p>
                <a href="">免费咨询</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="tool col-6 col-md-2">
                    <h6>常用工具</h6>
                    <a href="">电码查询</a><br>
                    <a href="">护照追踪</a><br>
                    <a href="">资料下载</a><br>
                </div>
                <div class="link col-6 col-md-2">
                    <h6>常用工具</h6>
                    <a href="">电码查询</a><br>
                    <a href="">护照追踪</a><br>
                    <a href="">资料下载</a><br>
                </div>
                <div class="about col-6 col-md-2">
                    <h6>常用工具</h6>
                    <a href="">电码查询</a><br>
                    <a href="">护照追踪</a><br>
                    <a href="">资料下载</a><br>
                </div>
                <div class="wechat col-6 col-md-2 text-center">
                    <img src="../img/wechat.png">
                    <span>微信号:18401238365</span>
                </div>
                <div class="contact col-6 col-md-4">
                    <p>
                        <img src="../img/pc-footer-phone.png">
                        010-64648731
                    </p>
                    <p>
                        <img src="../img/pc-footer-qq.png">
                        274027502
                    </p>
                    <p>
                        <img src="../img/pc-footer-mob.png">
                        18401238365
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>
            Copyright © 2006-2017 clantrip.com All Rights Reversed.中岚签证
            <a href="">京ICP备16015317号</a>
        </p>
        <a href="">
            <img src="../img/ghs.png">
            京公网安备 11010102002687号
        </a>
    </div>
</footer>
</body>
</html>