<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../css/service.css">
</head>
<body>
<header>
    <div class="container">
        <div class="header_nav row justify-content-between">
            <div class="logo col-auto">
                <img src="../img/logo.png">
            </div>
            <div class="_nav col-auto">
                <div class="pc_nav d-none d-md-flex">
                    <a href="../index.html">首页</a>
                    <a href="">签证指南</a>
                    <a href="hurry.html">签证加急</a>
                    <a href="" style="color:#0ba1e4">签证服务<em></em></a>
                    <a href="">签证资讯</a>
                    <a href="profiles.html">资料下载</a>
                </div>
                <div class="m_nav d-flex d-md-none">
                    <a href=""><i class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="head row">
            <h6 class="col">
                <a href="">首页</a>
                <span>/</span>
                <a href="">签证服务</a>
                <span>/</span>
                美国十年商务签证
            </h6>
        </div>
        <div class="detail row position-relative">
            <div class="img col-md-4">
                <img src="../img/20170430015107815.jpg">
            </div>
            <div class="text col-md-8">
                <h3>美国十年商务签证</h3>
                <ul class="list col">
                    <li>
                        <p>受理范围</p>
                        <p>全国受理</p>
                    </li>
                    <li>
                        <p>受理范围</p>
                        <p>全国受理</p>
                    </li>
                    <li>
                        <p>受理范围</p>
                        <p>全国受理</p>
                    </li>
                    <li>
                        <p>受理范围</p>
                        <p>全国受理</p>
                    </li>
                    <li>
                        <p>受理范围</p>
                        <p>全国受理</p>
                    </li>
                </ul>
                <div class="quotes">
                    <p>B1商务签证, 适合赴美的主要目的商务会谈、访问的申请人, 主要考查申请人访美动机是否可信, 访问目的是否真实, 申请人单位与邀请单位是否有真实合作关系以及此次出访的必要性</p>
                </div>
            </div>
            <a href="">立即咨询</a>
        </div>
        <div class="steps row">
            <div class="head col-12">
                <h5>美国签证基本流程<em></em></h5>
            </div>
            <div class="step1 col-4 col-md-2">
                <div class="detail img-thumbnail">
                    <img src="../img/step1.jpg">
                    <span>签证方案制定</span>
                </div>
            </div>
            <div class="step2 col-4 col-md-2">
                <div class="detail img-thumbnail">
                    <img src="../img/step1.jpg">
                    <span>签证方案制定</span>
                </div>
            </div>
            <div class="step3 col-4 col-md-2">
                <div class="detail img-thumbnail">
                    <img src="../img/step1.jpg">
                    <span>签证方案制定</span>
                </div>
            </div>
            <div class="step4 col-4 col-md-2">
                <div class="detail img-thumbnail">
                    <img src="../img/step1.jpg">
                    <span>签证方案制定</span>
                </div>
            </div>
            <div class="step5 col-4 col-md-2">
                <div class="detail img-thumbnail">
                    <img src="../img/step1.jpg">
                    <span>签证方案制定</span>
                </div>
            </div>
            <div class="step6 col-4 col-md-2">
                <div class="detail img-thumbnail">
                    <img src="../img/step1.jpg">
                    <span>签证方案制定</span>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>