<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no">
    <link rel="stylesheet" href="../css/header&footer.css">
    <link rel="stylesheet" href="../css/account.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
</head>
<body>
<header>
    <h3>个人账户</h3>
</header>
<main>
    <div class="user">
        <img src="../img/mrhuang.jpg">
        <p>绑定手机号</p>
        <span>15605200604</span>
    </div>
    <ul class="mine">
        <li>
            <a href="">
                <div class="left">
                    <img src="../img/grzf_icon1.png">
                    <p>我的收藏</p>
                </div>
                <div class="right">
                    <span>(0)</span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="left">
                    <img src="../img/grzf_icon2.png">
                    <p>优惠券</p>
                </div>
                <div class="right">
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </li>
    </ul>
</main>
<footer>
    <div class="footer_nav">
        <a href="../index.html">
            <i class="fa fa-home"></i>
            <p>首页</p>
        </a>
        <a href="order.html">
            <i class="fa fa-tags"></i>
            <p>快速下单</p>
        </a>
        <a href="my_orders.html">
            <i class="fa fa-wpforms"></i>
            <p>我的订单</p>
        </a>
        <a href="" style="color:red;">
            <i class="fa fa-user-circle-o"></i>
            <p>个人账户</p>
        </a>
    </div>
</footer>
</body>
</html>