/*清除默认样式*/
* {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* header样式*/
.header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 10px 0;
  background: #26283c;
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
}
.header .logo {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
}
.nav-left a,
.nav-right a {
  color: white!important;
  font-size: 18px;
  text-decoration: none!important;
  float: left;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  position: relative;
}
.nav-left a span,
.nav-right a span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: white;
  -moz-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -moz-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  transition: transform 0.3s;
}
.nav-left a:hover span,
.nav-right a:hover span {
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.nav-left .product {
  float: left;
}
.nav-left .product:hover .product-list {
  display: block;
}
.nav-left .product ul {
  margin-bottom: 0;
}
.nav-left .product ul li {
  padding: 0 40px;
}
.nav-left .product ul h3 {
  font-size: 18px;
  font-weight: normal;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #aeaeae;
  margin-bottom: 10px!important;
}
.nav-left .product ul a {
  width: 100%;
  float: none;
  line-height: 30px;
  display: block;
  padding: 0;
  height: auto;
  font-size: 14px;
}
.nav-left .product ul a:hover {
  color: #bababa!important;
}
.nav-left .product em {
  position: absolute;
  right: 3px;
  top: 23px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: white;
}
.nav-left .product:hover em {
  top: 18px;
  border-top-color: transparent;
  border-bottom-color: white;
}
.nav-left .product .product-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  padding: 30px 0;
  margin-bottom: 0!important;
  background: #26283c;
  display: none;
}
.nav-left .product .product-list h3 {
  color: white;
  margin: 0;
}
.nav-right {
  margin-left: auto ;
}
.nav-right a {
  font-size: 14px;
}
.nav-right .nav-r-1 {
  padding: 13px 0;
  line-height: 50px;
}
.nav-right .nav-r-1 p {
  margin: 0;
  padding: 0 15px;
  height: 24px;
  line-height: 24px;
  border: 1px solid white;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 0 0 5px 1px transparent;
  -webkit-box-shadow: 0 0 5px 1px transparent;
  -o-box-shadow: 0 0 5px 1px transparent;
  -ms-box-shadow: 0 0 5px 1px transparent;
  box-shadow: 0 0 5px 1px transparent;
}
.nav-right .nav-r-1:hover p {
  -moz-box-shadow: 0 0 5px 1px #00bfff;
  -webkit-box-shadow: 0 0 5px 1px #00bfff;
  -o-box-shadow: 0 0 5px 1px #00bfff;
  -ms-box-shadow: 0 0 5px 1px #00bfff;
  box-shadow: 0 0 5px 1px #00bfff;
}
.footer {
  background: #26283c;
}
.footer .wenidc {
  padding: 30px 0;
  border-bottom: 1px solid #818181;
}
.footer .wenidc h3 {
  color: #d2d2d2;
  font-size: 24px;
  font-weight: normal;
  border-bottom: 1px solid #818181;
  margin: 0;
  padding-bottom: 15px;
}
.footer .wenidc p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  color: #8f8f8f;
}
.footer .wenidc a {
  color: inherit;
  text-decoration: none!important;
}
.footer .wenidc a:hover {
  color: #c2c2c2;
}
.footer .links .hot_product,
.footer .links .help_center,
.footer .links .fast_entrance {
  padding: 0 15px;
}
.footer .contact_us {
  padding: 0 15px!important;
  border-left: 1px solid #818181;
}
.footer .contact_us h3 {
  border: none!important;
}
.footer .logo {
  text-align: center;
}
.footer .logo img {
  margin-top: 40px;
}
.footer .copyright {
  padding: 30px 0;
}
.footer .copyright p {
  font-size: 12px;
  text-align: center;
  color: #747474;
  margin-bottom: 10px;
}
.main {
  padding-top: 70px;
}
@media (max-width: 767px) {
  .main {
    padding-top: 0;
  }
}
