/* 清除默认样式 */
*,:before,:after {
    padding:0;
    margin:0;
    border:none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}
a {
    font-size: 0;
    text-decoration: none;
    color:inherit;
}
/* 私有样式 */
html {
    font-size: 12px;
}
@media (min-width: 320px) {
    html {
        font-size: 12px;
    }
}
@media (min-width: 375px) {
    html {
        font-size: 14px;
    }
}
@media (min-width:768px) {
    html {
        font-size: 16px;
    }
}
body {
    min-width: 320px;
    background: #f5f5f5;
}
.head {
    background: white;
    text-align: center;
    position: relative;
    height:3.57rem;
    padding:0 0.71rem;
}
.head h3 {
    font-size:1.43rem;
    color:#666;
    line-height: 3.57rem;
    font-weight: normal;
}
.head a {
    font-size:1.29rem;
    color:#ff2c4c;
    line-height: 3.57rem;
    position: absolute;
    left:0;
    font-weight:bold;
    width:3.57rem;
}
.user {
    padding:1.43rem 0 0.71rem;
    text-align: center;
    background: #ff2c4c;
    font-size: 0;
}
.user img {
    max-width: 8.57rem;
    border-radius:50%;
}
.user span {
    display: inline-block;
    color: white;
    font-size: 1.14rem;
    line-height:2.14rem;
    padding:0 0.71rem;
    background: rgba(0,0,0,0.3);
    border-radius:1.43rem;
    margin-top:0.71rem;
}
.menu {
    margin:0.71rem 1.07rem;
    border:1px solid #dadada;
    background: white;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.menu li a {
    display: block;
    padding:1.07rem 0;
    position: relative;
}
.menu li {
    float:left;
    width:33.333%;
    text-align: center;
}
.menu span {
    font-size: 1.14rem;
    line-height: 1.43rem;
    color:orangered;
}
.menu p {
    font-size: 1.00rem;
    line-height: 16px;
    color:#333;
}
.menu em {
    position: absolute;
    width:1px;
    height:2.86rem;
    background: #dadada;
    right: 0;
    top:1.07rem;
}
.nav {
    margin:0.71rem 1.07rem;
    border:1px solid #dadada;
    border-radius: 3px;
    background: white;
}
.nav a {
    display: block;
    position: relative;
    padding:0.64rem 0 0.79rem;
    margin:0 0.71rem;
    overflow: hidden;
    border-bottom: 1px solid #dadada;
    bottom: -1px;
    color: #333;
}
.nav img {
    height:2.14rem;
    float: left;
}
.nav span {
    float: left;
    line-height:2.14rem;
    text-align: left;
    margin-left: 0.71rem;
    font-size: 1.14rem;
}
.nav i {
    float: right;
    line-height: 2.14rem;
    font-size: 1.14rem;
}
.nav p {
    float: right;
    line-height: 2.14rem;
    font-size: 1.00rem;
    margin-right: 0.57rem;
    position: relative;
    bottom: -1px;
    color: #888;
}
footer {
    position: fixed;
    background: white;
    bottom: 0;
    border-top: 1px solid #dadada;
    width:100%;
    z-index: 1000;
}
.bottom {
    overflow: hidden;
}
.bottom li {
    float: left;
    width:33.33%;
    text-align: center;
}
.bottom a {
    display: block;
    padding:0.50rem 0;
    color: #999;
}
.bottom i {
    font-size:1.43rem;
}
.bottom p {
    font-size: 0.86rem;
}
.bottom li:last-of-type a {
    color: orangered;
}