body {
    background: #f8f8f8;
    min-width: 320px;
}
header {
    background: #27ae60;
}
.header_nav {
    padding-top: 30px;
}
.logo img {
    height:30px;
}
.pc_nav a,.m_nav a {
    line-height: 30px;
    color:#f5f5f5;
    text-decoration: none;
}
.pc_nav a:hover,.m_nav a:hover {
    color:white;
}
.slogan {
    color:#f5f5f5;
    padding:0;
    margin-top: 30px;
}
.slogan h1 {
    font-size: 56px;
    font-weight:500;
    color:white;
    text-shadow: -5px 5px 0 rgba(0,0,0,.1);
}
.slogan h2 {
    font-size: 20px;
    font-weight: 200;
}
.slogan p {
    font-size: 14px;
    margin-bottom:30px;
}
.slogan input {
    width:100%;
    max-width:650px;
    padding:10px 20px;
    font-size: 16px;
    outline: none;
    color:#999;
    margin-bottom:50px;
    border:none;
}
.product {
    background: #eaeaea;
    border-bottom: 1px solid #c3c3c3;
}
.product a {
    padding:0 25px;
    margin:15px 0;
}
.product img {
    display: block;
    height:32px;
}
.statement {
    margin-top:30px;
    padding:30px!important;
    background: yellow;
}
.statement p {
    font-size: 22px;
    margin:0;
}
.list {
    border:1px solid #dadada;
    margin-top: 50px;
}
.list a {
    text-decoration: none;
    color:#777;
    padding:20px!important;
    border-bottom: 1px solid #dadada;
}
.list a:hover {
    background-color: #f1f1f1;
}
.list a:last-child {
    color:#27ae60;
    text-align: center;
    border:none;
}
.list h4 {
    font-size: 16px;
    color:#333;
    font-weight: 700;
}
.list p {
    margin-bottom: 10px;
}
@media (max-width:769px) {
    .header_nav {
        padding-top: 10px !important;
    }
    .slogan h1 {
        font-size: 30px !important;
        text-shadow: none !important;
    }
}