* {
    padding:0;
    margin:0;
    border:none;
    text-decoration: none;
    list-style: none;
    outline:none;
    box-sizing:content-box;
    font-size:0;
    /*line-height:0;*/
    /*overflow: hidden;*/
}
/* 清除默认样式 */
a {
    font-size:12px;
}
body {
    width:100%;
    min-width:1190px;

}
.service {
    position:fixed;
    right:0;
    z-index: 3;
    height:347px;
    top:0;
    bottom:0;
    margin:auto 0;
}
.service a {
    display: block;
    border-left: 1px solid #d9d9d9;
    border-top:1px solid #d9d9d9;
    padding:2px;
    background: white;
    width:41px;
    height:43px;

}
.service .help a:last-child {
    border-bottom:1px solid #d9d9d9;
    margin-bottom: 10px;
}
.service .help a i {
    width:41px;
    height:43px;
    display: block;
    background:url("../img/service_s.png") no-repeat;
}
.service .help .sjbj i {
    background-position: -182px -507px;
}
.service .help .zxfw i {
    background-position: -230px -507px;
}
.service .help .jcjj i {
    background-position: -278px -507px;
}
.service .help .jmhz i {
    background-position: -326px -507px;
}
.service .help .tsfk i {
    background-position: -374px -507px;
}
.service .qr_code a i {
    display: block;
    width:22px;
    height:24px;
    margin-top: 9px;
    margin-left:11px;
    background:url("../img/bg.png") no-repeat;
}
.service .qr_code .code i {
    background-position: -425px -120px;
}
.service .qr_code .cal i {
    background-position: -384px -158px;
}
.header_box1 {
    background: #f5f5f5;
    width:100%;
    min-width: 1190px;
    /*height:40px;*/
}
.header_nav1 {
    width:1190px;
    margin:0 auto;
    /*padding:0 10px;*/
    /*height:36px;*/
    /*width:600px;*/
    /*border:1px solid red;*/
}
.header_nav1 .position {
    height:36px;
    float:left;
    position: relative;
    cursor: pointer;
    border-left:1px solid #f5f5f5;
    border-right:1px solid #f5f5f5;
    /*border-bottom:1px solid #f5f5f5;*/
    /*z-index:11111111;*/
}
.header_nav1 .switch em {
    float: left;
    width:11px;
    height:14px;
    background:url("../img/bg.png") no-repeat -192px -180px;
    /*margin-top:11px;*/
    margin:11px 8px 0 5px;
}
.header_nav1 .switch>span {
    font-size:12px;
    color:#333;
    line-height:36px;
    margin-right:5px;
}
.header_nav1 .switch>span:last-of-type {
    color:#0cb46a;
}
.header_nav1 .switch {
    box-sizing: border-box;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    z-index:2;
}
.header_nav1 .position .hidden {
    width:404px;
    border:1px solid #d9d9d9;
    position: absolute;
    top:36px;
    left:-1px;
    background: #f5f5f5;
    display:none;
    z-index:1;

}
.header_nav1 .hidden>span {
    float:left;
    margin-left:24px;
    line-height:36px;
    font-size:12px;
    padding:0 5px;
    color:#0cb46a;
    border-bottom:2px solid #0cb46a;
    position: relative;
    z-index:2;
}
.header_nav1 .position:hover {
    border-left-color: #d9d9d9;
    border-right-color: #d9d9d9;
}
.header_nav1 .position:hover .hidden{
    display: block;
}
.header_nav1 .city {
    border-top:1px solid #d9d9d9;
    clear: left;
    padding:10px 10px 10px 34px;
    background: white;
    position: relative;
    top:-1px;
}
.header_nav1 .city a {
    float:left;
    width:60px;
    line-height:26px;
    color:#666;
}
.header_nav1 .city a:hover {
    color:#0cb46a;
}
.header_nav1 .nav {
    float:right;
    height:36px;
}
.header_nav1 .nav li {
    float:right;
    cursor: pointer;
    height:36px;
    position: relative;
    z-index:3333;
}
.header_nav1 .nav .click>a {
    display: block;
    line-height:36px;
    color: #757575;
    padding:0 12px;
    /*position: relative;*/
}
.header_nav1 .nav .click:hover>a {
    color:#0cb46a;
}
.header_nav1 .nav .non_click>a {
    display: block;
    line-height: 12px;
    margin:12px 0;
    color: #757575;
    padding:0 10px;
    position: relative;
    border-left:1px solid #d9d9d9;
    border-right:1px solid #f5f5f5;
}
.header_nav1 .nav .hotline a {
    color:#ff5a00;
    padding:0 24px 0 27px;
}
.hotline>i {
    width:12px;
    height:12px;
    position: absolute;
    background:url("../img/bg.png") no-repeat -189px -246px;
    left:12px;
    top:12px;
}
.header_nav1 .nav li em {
    width:6px;
    height:4px;
    position: absolute;
    background:url("../img/bg.png") no-repeat -191px -232px;
    right:10px;
    top:16px;
}
.header_nav1 .nav .saler>a,.header_nav1 .nav .mine>a {
    padding-right:24px;
}
.header_nav1 .nav .hidden {
    /*padding:10px;*/
    border:1px solid #d9d9d9;
    border-top: none;
    display: none;
    position: absolute;
    padding:10px 0;
    background: white;
}
.nav .mine .hidden {
    left:0;
    right:0;
}
.header_nav1 .nav .non_click:hover {
    background: white;
    /*border-color: #d9d9d9;*/
    padding-top:0;
    padding-right:0;

}
.header_nav1 .nav .non_click:hover> a{
    line-height: 36px;
    margin:0;
    /*left:0;
    right:-1px;*/
    border-right:1px solid #d9d9d9;

}
.header_nav1 .nav li:hover .hidden {
    display: block;

}
.nav .non_click .hidden a {
    /*width:100%;*/
    display: block;
    line-height:24px;
    text-align: center;
    color:#757575;
    padding:0 10px;
}
.nav .saler .hidden{
    width:92px;
    left:0;
}
.nav .non_click .hidden a:hover {
    color:#0cb46a;
}
.nav .hotline .hidden {
    width:250px;
    cursor: pointer;
    padding:15px;
    right: 0;

}
.nav .hotline .hidden h3 {
    font-size:18px;
    line-height:30px;
    margin-bottom:20px;
    font-weight: normal;
    color:#757575;
    text-align: center;
}
.nav .hotline .hidden input {
    display: block;
    font-size:14px;
    border:1px solid #d9d9d9;
    padding:8px 10px;
    width:228px;
    margin-bottom:15px;
}
.nav .hotline .hidden button {
    width:248px;
    height:32px;
    display: block;
    font-size: 14px;
    /*padding:8px 0;*/
    text-align: center;
    border:1px solid #d9d9d9;
    background:#05b56a;
    color:white;
    margin-bottom: 15px;
}
.nav .hotline .hidden p {
    font-size:12px;
    line-height:20px;
    text-align: justify;
    margin-left:10px;
    color:#757575;
}
.nav .hotline .hidden i {
    position: absolute;
    font-size:12px;
    color: red;
    font-style: normal;
    bottom:45px;
    left:15px;
}
.header_box2 {
    position: relative;
}
.header_nav2 {
    width:1190px;
    margin:0 auto;
    /*border:1px solid red;*/
}
.header_nav2 .logo {
    float:left;
    margin:10px 0;
}
.header_nav2 .logo i {
    float: left;
    width:125px;
    height:44px;
    background:url("../img/bg.png") no-repeat 0 -261px;
    margin-right: 10px;
}
.header_nav2 .logo img {
    float: left;
    height:48px;
}
.header_nav2 .nav {
    float:left;
    width:600px;
    margin-left:50px;
    /*width:200px;
    height:48px;*/

    /*border:1px solid red;*/
}
.header_nav2 .nav li {
    float:left;
    margin-right:10px;
    /*padding:10px 0;*/
    /*cursor: pointer;*/
    /*padding:0 15px;*/
    /*position: relative;*/
}
.header_nav2 .nav li:last-of-type {
    margin:0;
}
.header_nav2 .nav li>a {
    display: block;
    height:48px;
    font-size:14px;
    color:#333;
    line-height:48px;
    padding:10px 15px;
    position: relative;
}
.header_nav2 .nav li:first-of-type a span {
    display: block;
    font-size:14px;
    height:48px;
    line-height: 48px;
    color:#0cb46a;
    border-bottom: 2px solid #0cb46a;
    box-sizing: border-box;
    /*position: relative;
    top:2px;*/
}
.header_nav2 .nav li:hover a {
    color:#0cb46a;
}
.header_nav2 .nav li a>em {
    position: absolute;
    width:8px;
    height:5px;
    background:url("../img/bg.png") no-repeat -152px -180px;
    right:0;
    top:0;
    bottom:0;
    margin:auto 0;
}
.header_nav2 .nav li a>i {
    position: absolute;
    width:11px;
    height:16px;
    background:url("../img/bg.png") no-repeat -176px -180px;
    right:0;
    top:0;
    bottom:0;
    margin:auto 0;
}
.header_nav2 .nav .hidden {
    position: absolute;
    left:0;
    right:0;
    top:68px;
    padding:30px 0;
    text-align:center;
    /*height:100px;*/
    background: white;
    border:1px solid red;
    z-index:3;
}
.header_nav2 .hidden ul {
    display: inline-block;
    border:1px solid blue;
}
.header_nav2 .input_box {
    position:relative;
    float:right;
    margin:18px 0;
}
.header_nav2 .input_box input {
    width:180px;
    /*height:48px;*/
    font-size:12px;
    line-height:14px;
    color:#333;
    border:1px solid #d9d9d9;
    padding:8px 10px;
}
.header_nav2 .input_box i {
    position: absolute;
    width:16px;
    height:17px;
    background:url("../img/bg.png") no-repeat -209px -276px;
    right:5px;
    top:8px;
}
.to8to {
    width:100%;
    /*min-width: 1190px;*/
    overflow: hidden;
}
.to8to img {
    height:460px!important;
    margin-left:50%;
    transform: translateX(-50%);
}
.main_nav {
    min-width:1190px;
    background: #f5f5f5;
    padding:20px 0;
}
.main_nav .center {
    width:1190px;
    margin:0 auto;
    padding:0 15px;
    box-sizing: border-box;
}
 .main_nav ul li {
     float:left;
     margin-left:20px;
     background: white;
     width:216px;
     /*box-shadow:3px 3px 3px #d9d9d9;*/
     position: relative;
     bottom:0;
     transition:all 0.3s;
 }
.main_nav ul li:first-child{
    margin:0;
}
.main_nav ul li a {
    /*display: block;*/
    float: left;
    width:196px;
    padding:40px 10px;
}
.main_nav ul li a div {
    float:left;
}
.main_nav ul li a p {
    font-size:20px;
    line-height:40px;
    color: #333;
}
.main_nav ul li a div span {
    font-size:12px;
    color:#333;
    display: block;
    line-height: 16px;
}
.main_nav ul li i {
    float:right;
    width:93px;
    height:65px;
    background:url("../img/entries_newicon_s.png") no-repeat ;
}
.main_nav ul .quote i {
    width:69px;
    background-position: -106px 0;
}
.main_nav ul .customize i {
    width:74px;
    background-position: -186px 0;
}
.main_nav ul .staging i {
    width:73px;
    background-position: -271px 0;
}
.main_nav ul .payment i {
    width:55px;
    background-position: -356px 0;
}
.main_nav ul li:hover {
    bottom:3px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    /*transition:all,0.3s;*/
}
.recommend {
    /*border:1px solid red;*/
    padding:70px 0 50px;
    width:100%;
}
.slogan h1 {
    font-size:34px;
    line-height:60px;
    font-weight: normal;
    color: #333;
    text-align: center;
}
.slogan span {
    display: inline-block;
    height:1px;
    width:50px;
    margin:0 25px;
    vertical-align: middle;
    box-sizing: border-box;
    border-bottom:1px solid #d9d9d9;
}
.slogan p {
    text-align: center;
    font-size:14px;
    line-height:40px;
    color:#999;
}
.company {
    width:1190px;
    margin:0 auto;
}
.company li {
    width:281px;
    margin:50px 0 0 20px;
    float: left;
    position: relative;
    bottom:0;
    transition:bottom 0.3s;
}
.company li:first-of-type {
    margin-left:0;
}
.company li:last-of-type {
    float: none;
    width:0;
    height:0;
    clear: left;
}
.company li:hover {
    bottom:3px;
}
.company  a {
    display: block;
    width:281px;
    position: relative;
}
.company  a>i {
    position: absolute;
    width:55px;
    height:49px;
    background:url("../img/index_bg_m.png") no-repeat -156px -1px;
    left: 10px;
    z-index:1;
}
.company  a .img {
    width:281px;
    height:193px;
    overflow: hidden;
}
.company  a .img img {
    width:281px;
    transition: all 1s;
}
.company li:hover .img img {
    transform: scale(1.1,1.1);
}
.company .logo {
    width:90px;
    height:90px;
    border-radius:50%;
    /*text-align: center;*/
    background: white;
    /*vertical-align: middle;*/
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    top:148px;
    left:95px;
}
.company .logo img {
    width:64px;
    height:64px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
   /* height:78px;*/
    /*margin-top: 17px;*/
}

.company .border {
    padding:60px 20px 20px;
    width:281px;
    border:1px solid #d9d9d9;
    border-top:none;
    box-sizing: border-box;
    box-shadow:0 0 0 rgba(0,0,0,0);
    transition: all,1s;
}
.company li:hover .border {
    border-color:white;
    box-shadow:0 15px 30px rgba(0,0,0,0.15);
}
.company .appointment h3 {
    font-size: 16px;
    line-height:30px;
    font-weight:normal;
    color:#333;
    text-align:center;
}
.company .detail {
    padding:0 15px;
}
.company .detail p {
    font-size:12px;
    line-height: 30px;
    color:#999;
}
.company .detail p span {
    color:#ff5a00;
    font-size:inherit;
}
.company .detail .left {
    float:left;
}
.company .detail .right {
    float:right;
}
.company .border>p {
    font-size: 12px;
    line-height:40px;
    border:1px solid #d9d9d9;
    color: #333;
    margin-top:15px;
    text-align: center;
}
.company .border>p:hover {
    background: #ff5a00;
    color:white;
}
.company .border>p span {
    color:inherit;
    font-size:18px;
    vertical-align: middle;
    /*line-height: 40px;*/
}
.diary {
    width:100%;
    overflow: hidden;
    margin-top:40px;
    position: relative;
}
.diary>img {
    height:500px;
    position: absolute;
    z-index:-1;
}
.diary>img:first-of-type {
    height:1000px;
    right:30%;
    top:-300px;
}
.diary>img:nth-child(2) {
    left:55%;
}
.diary_con {
    width:1190px;
    height:400px;
    padding:50px 0;
    margin:0 auto;
    /*border:1px solid red;*/
}
.diary_con .left {
    float:left;
    padding:40px;
    height:300px;
    margin:10px 0;
    background: white;
}
.diary_con .left .top img {
    width:70px;
    height:70px;
    float:left;
    border-radius:50%;
}
.diary_con .left .headline {
    float:left;
    margin-left:20px;
    height:50px;
    margin-top: 10px;
    /*vertical-align: middle;*/
}
.diary_con .left .headline a {
    display: block;
    font-size:18px;
    color:#666;
    line-height:30px;
    /*margin-top:40px;*/
}
.diary_con .left .headline p {
    font-size:12px;
    margin:4px 10px;
    padding-left:10px;
    color:#999;
    line-height:12px;
    border-left:1px solid #d9d9d9;
}
.diary_con .left_con>a {
    display: block;
    font-size: 14px;
    color:#666;
    line-height: 14px;
    margin:10px 0;
}
.diary_con .left_con .photo img {
    margin-top:30px;
    height:160px;
}
.diary_con .left_con .photo img:first-of-type {
    margin-right:20px;
}
.diary_con .right {
    width:400px;
    height:400px;
    margin-right:30px;
    float:right;
    /*padding:40px 0;*/
    /*background: white;*/
}
.diary_con .right .top h3 {
    font-size:24px;
    line-height:24px;
    margin-bottom:12px;
    color:white;
    font-weight: normal;
}
.diary_con .right .top p {
    font-size: 14px;
    color:white;
    line-height:24px;
}
.diary_con .right .users a {
    float:left;
    margin:25px 30px 0 0;
}
.diary_con .right .users img {
    border:2px solid darkgray;
    width:66px;
    height:66px;
    border-radius: 50%;
}
.diary_con .right .users a:focus img {
    border-color:#0cb46a;
}
.sev_process {
    width:1190px;
    margin:0 auto;
    padding:70px 0 50px;
    overflow: hidden;
}
.sev_process h3 {
    font-size:24px;
    line-height:30px;
    font-weight: normal;
    color: #333;
    text-align: center;
}
.sev_process .process {
    width:1235px;
    overflow: hidden;
    margin-top:20px;
}
.sev_process .process li {
    text-align:center;
    float:left;
    margin-right:49px;
    padding:0 10px;
    /*padding:10px;*/
}
.sev_process .process h5 {
    font-size:16px;
    line-height:30px;
    color:#333;
    font-weight:normal;
}
.sev_process .process p {
    font-size:12px;
    line-height:20px;
    color:#999;
}
.sev_process .process i {
    display: block;
    background: url("../img/index_bg_s.png") no-repeat;
    margin:30px auto 15px;
}
.sev_process .process li:first-of-type i {
    width:41px;
    height:51px;
    background-position: -380px -108px;
}
.sev_process .process li:nth-of-type(2) i {
    width:54px;
    height:46px;
    background-position:-380px -56px;
    margin-top:35px;
}
.sev_process .process li:nth-of-type(3) i {
    width:60px;
    height:51px;
    background-position:-381px 0;
}
.sev_process .process li:nth-of-type(4) i {
    width:50px;
    height:51px;
    background-position:-312px -168px;
}
.sev_process .process li:nth-of-type(5) i {
    width:54px;
    height:45px;
    background-position:-312px -116px;
    margin-top:36px;
}
.sev_process .process li:nth-of-type(6) i {
    width:57px;
    height:49px;
    background-position:-312px 0;
    margin-top:32px;
}
.sev_process .process li:nth-of-type(7) i {
    width:46px;
    height:51px;
    background-position:-312px -56px;
}
.sev_process .order li {
    float:left;
    text-align:left;
}
.sev_process .order li em {
    float:left;
    width:33px;
    height:33px;
    border:1px solid #999;
    border-radius:50%;
    text-align: center;
    line-height:35px;
    font-size:14px;
    font-style: normal;
    color:#999;
}
.sev_process .order li:first-of-type {
    margin-left:26px;
}
.sev_process .order li i {
    float:left;
    height:1px;
    background: #999;
    margin:17px 5px;
}
.sev_process .order_1 i {
    width:129px;
}
.sev_process .order_2 i {
    width:141px;
}
.sev_process .order_3 i {
    width:134px;
}
.sev_process .order_4 i {
    width:139px;
}
.sev_process .order_5 i {
    width:139px;
}
.sev_process .order_6 i {
    width:132px;
}
.sample {
    padding:70px 0 40px;
    min-width: 1190px;
    background: #f5f5f5;
    text-align: center;
}
.con_nav {
    margin:20px auto;
    /*width:600px;*/
    display: inline-block;

}
.con_nav li {
    float:left;
}
.con_nav li a {
    font-size:14px;
    line-height:20px;
    color:#333;
    position: relative;
}
.con_nav li span {
    font-size:14px;
    display: inline-block;
    line-height: 20px;
    color:#999;
    margin:0 15px;
}
.con_nav li i {
    position:absolute;
    width:10px;
    height:10px;
    background:url("../img/arrow_right.png") no-repeat ;
    top:5px;
    right:-15px;
}
.con_nav li a:hover {
    color:#0cb46a;
}
.con_nav li a:hover i {
    background-position: -11px 0;
}
.guide {
    width:100%;
    min-width:1190px;
    padding:70px 0;
}
.guide .content {
    width:1190px;
    margin:40px auto 0;
    /*border:1px solid red;*/
}
.guide .details li {
    float:left;
    width:280px;
    height:390px;
    position: relative;
    border:1px solid #d9d9d9;
    border-right:none;
    transition:width,0.3s;
    z-index: 1;
    background: white;
}

.guide .details li:nth-of-type(4) {
    border-right:1px solid #d9d9d9;
}
.guide .details li:hover  {
    margin-left:14px;
    border-color:rgba(0,0,0,0.05);
    transform:scale(1.1,1.1);
    z-index:4;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.guide .details .top {
    text-align: center;
    background:#f5f5f5;
    padding:20px 0;
}
.guide .details .top h3 {
    font-size:24px;
    color:#333;
    font-weight:normal;
    line-height:30px;
    margin-top:20px;
}
.guide .details i {
    display: inline-block;
    width:52px;
    height:51px;
    background:url("../img/index_bg_s.png") no-repeat;
}
.guide .details li:nth-of-type(2) i {
    background-position:0 -112px;
}
.guide .details li:nth-of-type(3) i {
    background-position:-58px -112px;
}
.guide .details li:nth-of-type(4) i {
    background-position:-57px 0;
}
.guide .details .articles {
    margin:30px 10px 30px 20px;
}
.guide .articles a {
    display: inline-block;
    font-size:14px;
    line-height:14px;
    margin:8px 0;
    color:#333;
}
.guide .articles a:hover {
    color:#05b56a;
}
.video {
    min-width:1190px;
    position: relative;
    overflow: hidden;
    height:653px;
}
.video>img {
    margin-left:50%;
    height:640px;
    transform:translateX(-50%);
    position: absolute;
    z-index: -1;
}
.video_con {
    width:1190px;
    height:440px;
    margin:100px auto;
    background: white;
}
.video_con .left {
    float:left;
    position: relative;
    height:440px;
}
.video_con .left img {
    height:440px;
}
.video_con .right {
    float:right;
    height:420px;
    padding:10px 20px;
    /*border:1px solid red;*/
}
.video_con .right li {
    width:340px;
    height:105px;
    margin-left:20px;
    border-bottom:1px dotted #d9d9d9;
    box-sizing: border-box;
}
.video_con .right li:last-of-type {
    border:none;
}
.video_con .right a img {
    height:65px;
    margin:20px 0
}
.video_con .right a {
    float:left;
    width:115px;
    height:65px;
    margin-right:15px;
}
.video_con .right .article {
    float:right;
    height:65px;
    width:210px;
    margin:20px 0;
    cursor: pointer;
}
.video_con .right .article a {
    width:210px;
    font-size:16px;
    line-height:30px;
    display: block;
    color:#333;
    height:30px;
    /*margin-top:5px;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.video_con .right .article p {
    width:210px;
    font-size:12px;
    line-height:20px;
    height:20px;
    color:#666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.video_con .right .article:hover a {
    color:#05b56a;
}
.discovery {
    /*width:100%;*/
    min-width:1190px;
    text-align: center;
    padding:70px 0 50px;
    border-bottom: 1px solid white;
}
.discovery .pictures {
    width:1190px;
    margin:20px auto;
}
.discovery .pictures img {
    width:383px;
    height:287px;
    transition:all 1s;
}
.discovery .pictures>div {
    width:383px;
    float:left;
    margin-left:20px;
}
.discovery .pictures>div:first-of-type {
    margin:0;
}
.discovery .pictures>div a {
    display: block;
    width:383px;
    height:287px;
    overflow: hidden;
    position: relative;
}
.discovery .pictures>div:hover img {
    transform:scale(1.05,1.05);
}
.discovery .pictures>div span {
    font-size:16px;
    line-height:20px;
    color:white;
    position: absolute;
    left:20px;
    bottom:15px;
}
.shopping {
    width:100%;
    min-width:1190px;
    text-align: center;
    padding:70px 0 50px;
    border-bottom: 1px solid #f5f5f5;
    background: #f5f5f5;
}
.shopping .empty {
    width:1190px;
    height:350px;
    margin:20px auto;overflow: hidden;
}
.shopping .list {
    width:1200px;
}
.shopping .list li {
    width:390px;
    height:350px;
    margin-right:10px;
    position: relative;
    float:left;
    overflow: hidden;
}
.shopping .list li>a img {
    width:390px;
    height:350px;
    position: absolute;
    z-index:0;
    top:0;
    left:0;
}
.shopping .title {
    position: relative;
    z-index: 1;
    top:30px;
}
.shopping .title p {
    font-size:20px;
    line-height:30px;
    color: #333;
}
.shopping .title i {
    display: block;
    height:1px;
    background:#333;
    width:60px;
    margin:8px auto;
}
.shopping .title span {
    font-size:14px;
    line-height: 30px;
    display: block;
    color: #333;
}
.shopping .list a:hover img {
    transform:scale(1.02,1.02);
    transition: all 0.3s;
}
.shopping .list li>div {
    height:170px;
    overflow: hidden;
    position: relative;
}
.shopping .list .upper {
    margin-bottom: 10px;
}
.shopping .list li>div img {
    height:170px;
    position: absolute;
    z-index: 0;
}
.shopping .list li>div .title {
    text-align:left;
    margin-left:30px;
}
.shopping .list li>div .title i {
    margin-left:0
}
.shopping .brands {
    width:1190px;
    height:106px;
    margin:20px auto;
    background: white;
}
.shopping .brands li {
    float:left;
    width:238px;
    height:106px;
    overflow: hidden;
    position: relative;
}
.shopping .brands img {
    width:238px;
    height:106px;
    position: relative;
    z-index: 0;
}
.shopping .brands i {
    position: absolute;
    width:1px;
    height:50%;
    right:0;
    top:26px;
    z-index:2;
}
.shopping .brands li:hover img {
    transition: all 0.3s;
    transform:scale(1.05,1.05);
}
.tu8tu {
    min-width: 1190px;
    padding:70px 0 50px;
    border-bottom: 1px solid white;
}
.tu8tu .empty {
    width:1190px;
    margin:20px auto 0;
    overflow: hidden;
}
.tu8tu .news {
    width:1250px;
    height:398px;
    padding:20px 0;
}
.tu8tu .news li {
    width:381px;
    height:396px;
    border:1px solid #e8e8e8;
    float:left;
    margin-right:20px;
    position: relative;
    top:0;
    transition:all 0.3s;
    /*z-index: 1111111111;*/
}

.tu8tu .news a {
    display: block;
    width:381px;
    height:396px;
    /*overflow: hidden;
    position: relative;*/
}
.tu8tu .news .img {
    width:381px;
    height:240px;
    overflow: hidden;
}
.tu8tu .news .img img {
    width:381px;
    height:240px;
}

.tu8tu .news h3 {
    font-size:18px;
    line-height:30px;
    padding:15px;
    color:#666;
    font-weight:normal;
    text-align: left;
    border-bottom:1px solid #e8e8e8;
}
.tu8tu .news p {
    padding:15px;
    height:30px;
}
.tu8tu .news p img {
    height:30px;
}
.tu8tu .news p span {
    font-size: 14px;
    color:#999;
    float:right;
    line-height: 30px;
    position: relative;
}
.tu8tu .news p i {
    position: absolute;
    width:17px;
    height:17px;
    background:url("../img/index_bg_s.png") no-repeat -539px -311px;
    left:-22px;
    top:6px;
}
.tu8tu .news li:hover {
    top:-3px;
    border-color:rgba(0,0,0,0.1);
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}
.tu8tu .news li:hover .img img {
    transform: scale(1.05,1.05);
    transition: all 0.3s;
}