<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/nearby.css">
</head>
<body>
<header>
    <div class="head">
        <a href="../index.html">
            <i class="fa fa-chevron-left"></i>
        </a>
        <h3>附近服务人员</h3>
    </div>
</header>
<main>
    <ul class="list">
        <li>
            <div class="avatar">
                <img src="../img/pic.png">
            </div>
            <div class="detail">
                <h3>杨玲<span>¥ 60</span></h3>
                <p>工龄：3年</p>
                <p>距离：0.63km</p>
            </div>
            <button type="submit">确认下单</button>
        </li>
        <li>
            <div class="avatar">
                <img src="../img/pic.png">
            </div>
            <div class="detail">
                <h3>杨玲<span>¥ 60</span></h3>
                <p>工龄：3年</p>
                <p>距离：0.63km</p>
            </div>
            <button type="submit">确认下单</button>
        </li>
        <li>
            <div class="avatar">
                <img src="../img/pic.png">
            </div>
            <div class="detail">
                <h3>杨玲<span>¥ 60</span></h3>
                <p>工龄：3年</p>
                <p>距离：0.63km</p>
            </div>
            <button type="submit">确认下单</button>
        </li>

    </ul>
</main>
<footer>
    <ul class="bottom">
        <li>
            <a href="../index.html">
                <i class="fa fa-home"></i>
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="../views/order.html">
                <i class="fa fa-th-large"></i>
                <p>订单</p>
            </a>
        </li>
        <li>
            <a href="tel:110">
                <i class="fa fa-user"></i>
                <p>我的</p>
            </a>
        </li>
    </ul>
</footer>
</body>
</html>