<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scale=no">
    <link rel="stylesheet" href="../css/header&footer.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/wallet.css">
</head>
<body>
<header>
    <div class="head">
        <a href="mine.html">
            <i class="fa fa-chevron-left"></i>
        </a>
        <h3>钱包</h3>
    </div>
</header>
<main>
    <div class="user_wallet">
        <h1>0.00</h1>
        <p>账户余额（元）</p>
    </div>
    <div class="money">
        <a href="tel:15605200604">充值</a>
        <a href="sms:15605200604">提现</a>
        <em></em>
    </div>
    <a href="mailto:893008093@qq.com" class="card">我的银行卡<i class="fa fa-angle-right"></i></a>
</main>
</body>
</html>